@model WorkShop.ViewModel.ProductListViewModel
@{
    ViewData["Title"] = "Product";
}
@using System.Text.Json
<div class="row pt-4 align-items-center">
    <div class="d-flex justify-content-between align-items-center">
        <div class="col-2">
            <h3 class="text-info">Products</h3>
        </div>
        <div class="col-5 text-center align-items-center">

            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" name="searchTerm" placeholder="Search" value="@Model.SearchTerm">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col-3 text-end align-items-center">
            <button type="button"
                    class="btn btn-light btnImportExcel"
                    data-bs-toggle="modal"
                    data-bs-target="#ImportExcel">
                <i class="bi bi-file-earmark-arrow-up"></i> Import Excel
            </button>
            <a asp-action="Create" asp-controller="Product" class="btn btn-primary"><i class="bi bi-plus-lg"></i>Create</a>

        </div>
    </div>



    <table class="table tab-content shadow m-4 p-2 table-hover">
        <thead>
        <th>ID</th>
        <th>Img</th>
        <th>Name</th>
        <th>Department</th>
        <th>Create At</th>
        <th>Update At</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td width="10%">@product.Id</td>
                    <td width="10%"><img src="~/images/@product.imagePath" style="width:50px;height:50px" class="shadow" /></td>
                    <td width="20%">@product.Name</td>
                    <td width="10%">@product.department.Name</td>
                    <td width="20%">@product.CreateAt</td>
                    <td width="20%">@product.UpdateAt</td>
                    <td width="15%">
                        <a asp-controller="Product" asp-action="Create" asp-route-Id="@product.Id"><i class=" bi-pencil-square text-primary"></i></a>

                        &nbsp;
                        <button type="button"
                                class="btn btn-link p-0 m-0 border-0 text-danger btnDelete"
                                data-bs-toggle="modal"
                                data-id="@product.Id">
                            <i class="bi-trash3"></i>
                        </button>
                    </td>

                </tr>
            }
        </tbody>

    </table>
    @{
        int maxPagesToShow = 5;
        int startPage = Math.Max(1, Model.CurrentPage - maxPagesToShow / 2);
        int endPage = Math.Min(Model.TotalPages, startPage + maxPagesToShow - 1);

        // تعديل البداية إذا اقتربنا من النهاية
        if (endPage - startPage < maxPagesToShow - 1)
        {
            startPage = Math.Max(1, endPage - maxPagesToShow + 1);
        }
    }

    <nav>
        <ul class="pagination justify-content-center">

            <!-- زر السابق -->
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }

            <!-- زر التالي -->
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    @* //Import From Excel *@
    <div class="modal fade" id="ImportExcel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="ImportExcel" asp-controller="Report" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title">Import Excel !!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Table Name:</label>
                            <input  name="TableName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Excel file:</label>
                            <input type="file" name="file" accept=".xls,.xlsx" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Import</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteProduct">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="Delete" method="post" style="display:inline;">
                    <input name="Id" hidden />
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Alert !!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this Product?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal لعرض الخطأ -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-danger">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Deletion error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorModalMessage">@TempData["DeleteError"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="messageModalLabel">Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p id="modalMessage"></p>
                </div>
            </div>
        </div>
    </div>





</div>

@section Scripts {
    <script>
         $('.btnDelete').click(function (e) {
            e.preventDefault();
            const id = $(this).data('id');
            $('#deleteProduct input[name="Id"]').val(id);
            $('#deleteProduct').modal('show');
        });

        $('.btnImportExcel').click(function (e) {
          $('#ImportExcel').modal('show');
        });
            $(document).ready(function () {
            var errorMessage = '@TempData["DeleteError"]';
            if (errorMessage && errorMessage.trim() !== "") {
                var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
            }
        });

                $(document).ready(function () {
            var success = @Html.Raw(JsonSerializer.Serialize(TempData["Success"]));
            var error = @Html.Raw(JsonSerializer.Serialize(TempData["Error"]));

            let message = success || error;
            if (message && message.trim() !== "") {
                $('#modalMessage').text(message);
                var modal = new bootstrap.Modal(document.getElementById('messageModal'));
                modal.show();
            }
        });
    </script>
}

