@model List<SparePartRequest>

@if (TempData["Massege"] != null)
{
    <div class="row">
        <div class="col-lg-12">

            <div class="bs-component">
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <h4 class="alert-heading">Warning!</h4>
                    <p class="mb-0">  @TempData["Massege"]</p>
                </div>
            </div>
        </div>
    </div>
}
@if (TempData["Success"] != null)
{
<div class="col-lg-4">
    <div class="bs-component">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Well done!</strong> @TempData["Success"].
        </div>
    </div>
</div>
}
<table class="table">
    <thead>
        <tr>
            <th>رقم الجهاز</th>
            <th>القطع المطلوبة</th>
            <th>تاريخ الطلب</th>
            <th>صرف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var req in Model)
        {
            <tr>
                <td>@req.Device.SerialNumber</td>
                <td>
                    <ul>
                        @foreach (var item in req.Items)
                        {
                            <li>@item.Product.Name - الكمية: @item.Quantity</li>
                        }
                    </ul>
                </td>
                <td>@req.RequestDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <form asp-action="Deliver" asp-controller="Device" method="post">
                        <input type="hidden" name="RequestId" value="@req.Id" />
                        <button type="submit" class="btn btn-success">صرف القطع</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
