@model List<Device>

<div class="container mt-4">
    <h2 class="text-primary">طلبات بانتظار موافقة الضابط</h2>
    <hr />
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>اسم الجهاز</th>
                <th>الرقم التسلسلي</th>
                <th>اسم الفني</th>
                <th>التقرير الفني</th>
                <th>إجراءات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model)
            {
                <tr data-url=@Url.Action("DetailsPartsRequestsByOfficer", "Device", new { id = device.Id })
                    onclick="window.location.href = this.dataset.url"
                    style="cursor: pointer;">
                    <td>@device.Product?.Name</td>
                    <td>@device.SerialNumber</td>
                    <td>@device.Technician?.FullName</td>
                    <td>@device.MaintenanceCard?.TechnicianReport</td>
                    <td>
                        <form method="post" asp-action="ApproveByOfficer" asp-route-id="@device.Id" style="display:inline-block">
                            <button class="btn btn-success btn-sm">موافقة</button>
                        </form>
                        <form method="post" asp-action="RejectByOfficer" asp-route-id="@device.Id" style="display:inline-block">
                            <button class="btn btn-danger btn-sm">رفض</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
