@model IEnumerable<ProductStock>
@{
    ViewData["Title"] = "Index";
}

<div class="row pt-4 align-items-center">

    <div class="col-6">
        <h1 class="text-primary">Stocks</h1>
    </div>
    <div class="col-6 text-end align-items-center">
        <a asp-action="Create" asp-controller="ProductStock" class="btn btn-primary"><i class="bi bi-plus-lg"></i>Create</a>

    </div>

    <table class="table tab-content shadow m-4 p-2 table-hover">
        <thead>

      
        <th>Product</th>
        <th>Store</th>
        <th>Quantity</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr>
                    
                    <td width="20%">@stock.product?.Name</td>
                    <td width="20%">@stock.store?.Name</td>
                    <td width="20%">@stock.quantity</td>
                    <td width="20%">
                        <a asp-controller="ProductStock" asp-action="Create" asp-route-proId="@stock.productId"
                           asp-route-storeId="@stock.storeId"><i class=" bi-pencil-square text-primary"></i></a>

                        &nbsp;
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="productId" value="@stock.productId" />
                            <input type="hidden" name="storeId" value="@stock.storeId" />
                            <button type="submit" class="btn btn-link p-0 m-0 border-0 text-danger" onclick="return confirm('Are you sure you want to delete this item?');">
                                <i class="bi-trash3"></i>
                            </button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>

    </table>



</div>

                            