@model Device
@{
    ViewData["Title"] = "DetailsPartsRequests";
}



<div class="container mt-4">
    <h2 class="text-primary">Details Parts Requests </h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Dvice:</dt>
        <dd class="col-sm-9">@Model.Product?.Name</dd>

        <dt class="col-sm-3"> S/N:</dt>
        <dd class="col-sm-9">@Model.SerialNumber</dd>

        <dt class="col-sm-3">Department:</dt>
        <dd class="col-sm-9">@Model.Department?.Name</dd>
        <dt class="col-sm-3"> Technician:</dt>
        <dd class="col-sm-9">@Model.Technician?.FullName</dd>
        <dt class="col-sm-3">Technician report:</dt>
        <dd class="col-sm-9">@Model.MaintenanceCard?.TechnicianReport</dd>
    </dl>
    <h4 class="text-secondary"> Requested parts</h4>
    @if (Model.SparePartRequests != null && Model.SparePartRequests.Any())
    {
        var request = Model.SparePartRequests.FirstOrDefault();

        if (request?.Items != null && request.Items.Any())
        {
            <table class="table table-hover shadow">
                <thead>
                    <tr>
                        <th> Part</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in request.Items)
                    {
                        <tr>
                            <td>@item.Product?.Name</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning text-center">No parts Requested .</div>
        }
    }
    else
    {
        <div class="alert alert-secondary text-center">Call Administartor somthin rong!.</div>
    }


    <a class="btn btn-primary btn-sm" asp-action="ReviewPartsRequests" asp-controller="Engineer">Back</a>

                        <form method="post" asp-action="ApproveParts" asp-route-id="@Model.Id" style="display:inline-block">
                            <button class="btn btn-success btn-sm">Approv</button>
                        </form>
                        <form method="post" asp-action="RejectParts" asp-route-id="@Model.Id" style="display:inline-block">
                            <button class="btn btn-danger btn-sm">Reject</button>
                        </form>
</div>

