@model WorkShop.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Users";
}

<div class="row pt-4 align-items-center">
    <div class="d-flex justify-content-between align-items-center">
    <div class="col-2">
        <h1 class="text-primary">Users</h1>
    </div>
    <div class="col-6 text-center align-items-center">

            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" name="searchTerm" placeholder="Search" value="@Model.SearchTerm">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
    </div>
    <div class="col-2 text-end align-items-center">
        <a asp-action="Create_user_Edite" asp-controller="User"  class="btn btn-primary"><i class="bi bi-plus-lg"></i>Create</a>

    </div>
    </div>
    <table class="table tab-content shadow m-4 p-2 table-hover">
        <thead>
            <tr class="text-center">
                <th>Img</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th >Update At</th>
                <th  >Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.users)
            {
                <tr class="text-center align-content-center justify-content-center" >
      
                    <td width="10%"><img src="~/images/@user.imagePath" style="width:50px;border-radius:50px" class="img-thumbnail"/></td>
                    <td width="20%">@user.FullName</td>
                    <td width="20%">@user.Email</td>
                   
                    <td width="10%" onclick="window.location.href='@Url.Action("Index", "Department", new { searchTerm = user.department.Name})'" style="cursor:pointer"><i class=" bi-pencil-square text-primary">@user.department.Name</td>
                    <td width="20%">@user.UpdateAt</td>
                    <td width="20%">

                        <a class="btn btn-outline-success " asp-controller="Report" asp-action="UserMintenanceHistory" asp-route-Id="@user.Id"><i class="bi bi-file-earmark-text"></i> Report</a>
                        &nbsp;
                        <a asp-controller="User" asp-action="Create_user_Edite" asp-route-Id="@user.Id"><i class=" bi-pencil-square text-primary"></i></a>

                        &nbsp;
                        <button type="button"
                                class="btn btn-link p-0 m-0 border-0 text-danger btnDelete"
                                data-bs-toggle="modal"
                                data-id="@user.Id">
                            <i class="bi-trash3"></i>
                        </button>
                    </td>

                </tr>
            }
        </tbody>

    </table>

    <nav>
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
    @if (TempData["Error"] != null)
    {
        <p>Are you sure to delete this User?</p>
    }
    <div class="modal fade" id="deleteUser">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="Delete_user" method="post">
                    <input name="Id" hidden />
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Alert !!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this User?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal لعرض الخطأ -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-danger">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Deletion error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorModalMessage">@TempData["DeleteError"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script>
            // فتح مودال الحذف
        $('.btnDelete').click(function (e) {
            e.preventDefault();
            const id = $(this).data('id');
            $('#deleteUser input[name="Id"]').val(id);
            $('#deleteUser').modal('show');
        });

                $(document).ready(function () {
            var errorMessage = '@TempData["DeleteError"]';
            if (errorMessage && errorMessage.trim() !== "") {
                var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
            }
        });
    </script>

}

